{% extends 'quiz/base.html' %}
{% load i18n %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-5">{% trans "English Learning Quiz" %}</h1>
    
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="d-grid gap-3">
                <a href="{% url 'quiz:learn_with_images' %}" class="btn btn-primary btn-lg">
                    <i class="fas fa-images me-2"></i>{% trans "Learn with Images" %}
                </a>
                <a href="{% url 'quiz:practice_pronunciation' %}" class="btn btn-success btn-lg">
                    <i class="fas fa-microphone me-2"></i>{% trans "Practice Pronunciation" %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}